<h2>AddSuitcase</h2>
<form ng-submit="addSuitcase()">
    <input type="checkbox" ng-model="suitcase.Locked" />Locked
    <input type="text" ng-model="suitcase.Wheels" />
    <input type="submit" text="save" />
</form>
